
#header{
	font-size: 4vw;
	
	text-align: center;
	/*transform: translate(-50%, 0);*/
	background-color: black;
	color: white;
	padding: 16px;
	font-family: Montserrat;
	
}

#navbar{
	display: flex;
	text-align: center;
}

.blackBox{
	background-color: black;
	color: white;
	font-family: Montserrat;
	font-size: 2vw;
	padding: 16px;
	position: relative;
	bottom: 32px;
	flex-grow: 1;
	opacity:0;
	cursor: pointer;
	transition: background-color 0.3s;
}

#back-button{
	animation: buttonAnim 500ms forwards;
}
#info-button{
	animation: buttonAnim 700ms forwards;
}
#a-button{
	animation: buttonAnim 900ms forwards;
}
#b-button{
	animation: buttonAnim 1100ms forwards;
}
#h-button{
	animation: buttonAnim 1300ms forwards;
}
#c-button{
	animation: buttonAnim 1500ms forwards;
}

.info-head{
	display: inline;
	
	font-size: 3vw;
	font-family: Montserrat;
}
.info-body{
	font-size: 2.5vw;
	margin-left: 25px;
	font-family: Montserrat;
}

hr{
	border:none;
	border-top: 2px solid black;
	width: 50%;
}


#loading{
	font-family: Montserrat;
	font-size: 3vw;
	display: inline;
	position: absolute;
	top: 50vh;
	left:50vw;
	transform: translate(-50%,0);
}

@keyframes buttonAnim{
	0%{
		bottom:32px;
		opacity:0;
	}
	100%{
		bottom:0px;
		opacity:1;
	}
}
.card{
	display: flex;
	border: 2px solid black;
	align-items: center;
	margin: 10px;
	font-family: Montserrat;
	justify-content: center;
	font-size: 2vw;
	cursor: pointer;
	transition: box-shadow 300ms;
}
.card:hover {
	box-shadow: 2px 2px 8px #555555;
}

#card-container{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 10vh;
}

#dark-screen{
	display: block;
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0,0,0,0.5);

}

#modal-screen{
	position: absolute;
	top: 50vh;
	left: 50vw;
	width: 70vw;
	height: 70vh;
	transform: translate(-50%,-50%);
	background-color: white;
	border-radius:20px;
	padding: 8px 10px;
}

#exit-modal{
	display: inline block;
	position: absolute;
	right: 10px;
	font-family: Montserrat;
	font-size: 3vw;
	cursor: pointer;
	color: red;
	background-color: white;
	border-radius: 10px;
	padding: 0px 8px;
	transition: color 500ms, background-color 500ms;
}
#exit-modal:hover{
	color: white;
	background-color: red;
}
#student-img{
	height: 20vw;
	width: 20vw;
	border-radius: 100%;
}
#modal-screen-content{
	display: flex;
	flex-flow: column;
}
#content-img{
	text-align: center;
}
@media only screen and (min-width: 769px){
	#makeSticky{
		position: sticky;
		top: 0;
	}

	.card{
		font-size: 1vw;
	}
	#card-container{
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-auto-rows: 10vh;
	}
	#exit-modal{
		font-size: 2vw;
	}
	#modal-screen-content{
		display: flex;
		flex-flow: row;
	}
}